.header {
    height: 50px;
    padding: 20px 40px 10px 120px;
}
.header span {
    font-size: 30px;
    text-shadow: 3px 5px 5px #fff;
}
.header .logo {
    float:left;
}
.header .login {
    float:right;
}
.header a {
    float: right;
}
.content {
    padding: 10px 200px 20px 120px;
}
.body-left {
    float: left;
}
.body-right {
    float: right;
}
#Cocos2dGameContainer {
    box-shadow: 3px 4px 5px #333;
}
body {
    background: #ffe4c4;
}
@font-face {
font-family: mylisu;
src:url('res/lisu.ttf'); 
}
.logo a {
    text-decoration:none;
    margin: 5px 0px 0px 5px;
}
